name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: erlef/setup-beam@6389fe58dcb1ee91fd829c7c65bf8771b06dacc4
        with:
          otp-version: "26.2"
          gleam-version: "1.10.0"
          elixir-version: "1.16.2"
          rebar3-version: "3"

      - name: Run tests for all exercises
        run: bin/test

      - name: Check formatting
        run: gleam format --check exercises/*/*/{src,test,.meta}/*.gleam

      - name: Check manifests
        run: bin/sync-exercise-project-configs --check
