name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451
        with:
          otp-version: "26.2"
          gleam-version: "1.3.2"
          elixir-version: "1.16.2"

      - name: Run tests for all exercises
        run: bin/test

      - name: Check formatting
        run: gleam format --check exercises/*/*/{src,test,.meta}/*.gleam

      - name: Check manifests
        run: bin/sync-exercise-project-configs --check
